asgiref
certifi
cffi
chardet
cryptography
dj-database-url
Django==4.2.7
gunicorn
idna
pycparser
pyOpenSSL
PySocks
pytz
requests
six
sqlparse
urllib3
whitenoise
win-inet-pton
wincertstore
finnhub-python==2.4.18